TAG=java21
BEDROCK_PORT=19132
JAVA_PORT=25565
TIMEZONE=Asia/Makassar
VERSION=1.21.4
SERVER_NAME="SMP"
MOTD="SMP"
MAX_PLAYERS=20
SEED=0
DIFFICULTY=easy
MODE=survival
ONLINE_MODE=FALSE
ENFORCE_WHITELIST=FALSE
WHITELIST=
ENABLE_AUTOPAUSE=FALSE
SPAWN_PROTECTION=8
PVP=TRUE
INIT_MEMORY=2G
MAX_MEMORY=4G

# RCON
RCON_PASSWORD=
RCON_WEB_USER=admin
RCON_WEB_PASSWORD=
RCON_WEB_PORT=4326

# Playit.gg tunnel
PLAYIT_SECRET=
